
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.wrapper > main {
    flex: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar img {
    max-width: 100px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1512px;
    margin: 0 auto;
    padding: 0 20px;
}

.meetup-navbar img {
    height: 34px;
    width: 95px;
    margin-right: 40px;
}

.search-container {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin-right: 470px;
    margin-left: 15px;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 12px;
    height: 42px;
    width: 300px;
}

.search-box img {
    width: 16px;
    height: 16px;
}

.search-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
}

.location-box {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 6px;
    height: 42px;
    padding: 0 20px;
    width: 300px;
}

.location-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}

.search-button {
    position: absolute;
    background-color: #f65858;
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 0 12px;
    height: 42px;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-button img {
    width: 16px;
    height: 16px;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.language-selector {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.welt-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.auth-buttons {
    display: flex;
    gap: 12px;
}

.login-btn {
    padding: 8px 12px;
    border: none;
    font-size: 14px;
    background: none;
    cursor: pointer;
    min-width: 72px;
    transition: all 0.3s ease;
}

.signup-btn {
    background-color: rgba(0, 121, 138, 1);
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    border: none;
    min-width: 83px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background: #f5f5f5;
}

.signup-btn:hover {
    background-color: #141313;
}

.main-content {
    width: 100%;
    min-height: 1420px;
    background: white;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-row {
    display: flex;
    justify-content: space-between;
    margin: 0 133px 24px 158px;
    max-width: 1186px;
    width: 100%;
    align-items: flexÑ;
}

.page-title {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}

.location-info {
    line-height: 1.2;
    text-align: left;
    align-items: flex-start;
}

.map-sub {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.map-city {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: #333;
}

.main-layout {
    display: flex;
    align-items: flex-start;
    gap: 200px;
    margin-left: 158px;
    margin-right: 133px;
}

.events-block {
    flex: 1;
    max-width: 992px;
}

.tab {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #999;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.tab.active {
    color: rgba(0, 121, 138, 1);
    border-bottom: 3px solid rgba(0, 121, 138, 1);
}

.filters {
    display: flex;
    gap: 20px;
    margin: 24px 0 32px;
}

.filters select {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    background: rgba(246, 247, 248, 1);
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

#typeFilter {
    width: 118px;
    height: 46px;
}

#distanceFilter {
    width: 145px;
    height: 46px;
}

#categoryFilter {
    width: 148px;
    height: 46px;
}

.event-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.event-item {
    width: 604px;
    height: 148px;
    display: flex;
    gap: 16px;
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.event-item img {
    width: 160px;
    height: 90px;
    border-radius: 8px;
    object-fit: cover;
}

.event-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.event-info p {
    margin: 2px 0;
    font-size: 14px;
}

.event-info h3 {
    margin: 4px 0;
    font-size: 15px;
    font-weight: 600;
}

.event-type {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 3px 6px;
    font-size: 12px;
    border-radius: 4px;
    margin-top: 6px;
}

.map-container {
    width: 350px;
    height: 285px;
    position: relative;
    border-radius: 12px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    align-self: flex-start;
}

.map-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.map-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 172.41px;
    height: 40.58px;
    background: transparent;
    border: 2px solid rgba(0, 121, 138, 1);
    color: rgba(0, 121, 138, 1);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    padding: 0;
}

.map-icon {
    width: 16px;
    height: 16px;
}

.map-close {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.map-close img {
    width: 16px;
    height: 16px;
}

.footer {
    background-color: #1c1c1c;
    color: #ccc;
    padding: 16px 20px 40px 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

.footer > .footer-cta,
.footer > .footer-container,
.footer > .footer-follow,
.footer > .footer-bottom,
.footer > .footer-legal {
    width: 100%;
    max-width: 1512px;
}

.footer-cta {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-bottom: 20px;
}

.footer-cta h2 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.btn-secondary {
    background: none;
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-secondary:hover {
    background: #fff;
    color: #1c1c1c;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-section {
    width: 100%;
    max-width: 374px;
    height: 224px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-section h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-section a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-follow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    width: 100%;
}

.footer-follow h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    gap: 24px;
}

.social-icons a img {
    width: 32px;
    height: 32px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.app-links {
    display: flex;
    gap: 15px;
}

.app-links a img {
    height: 40px;
}

.footer-legal {
    text-align: left;
    margin-top: 20px;
    font-size: 14px;
    width: 100%;
}

.footer-legal a {
    color: #ccc;
    text-decoration: none;
}

.footer-legal a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #1c1c1c;
    color: #ccc;
    padding: 40px 196px; 
    width: 100%;
    height: 559px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

.footer-cta {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 1120px; 
    margin-bottom: 20px;
}
.footer-cta h2 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.btn-secondary {
    background: none;
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-secondary:hover {
    background: #fff;
    color: #1c1c1c;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1120px; 
}

.footer-section {
    width: 100%;
    max-width: 374px;
    height: 224px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-section h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}
.footer-section a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-follow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    width: 100%;
    max-width: 1120px;
}

.footer-follow h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}
.social-icons {
    display: flex;
    gap: 24px;
}

.social-icons a img {
    width: 32px;
    height: 32px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1120px;
}

.app-links {
    display: flex;
    gap: 15px;
}

.app-links a img {
    height: 40px;
}

.footer-legal {
    text-align: left;
    margin-top: 20px;
    font-size: 14px;
    max-width: 1120px;
    width: 100%;
}

.footer-legal a {
    color: #ccc;
    text-decoration: none;
}

.footer-legal a:hover {
    text-decoration: underline;
}




